uni|/home/louis/university/4th-year|current years university directory
S438|/home/louis/university/4th-year/SWEN438|directory for SWEN438
jumper-project|/home/louis/projects/jumper|directory for this project! 
